In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("2016-FCC-New-Coders-Survey-Data.csv", low_memory=False)

In [3]:
df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [4]:
df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [5]:
len(df.columns)

113

In [9]:
df.CountryLive.value_counts()

United States of America         6265
India                             981
United Kingdom                    618
Canada                            542
Brazil                            269
Australia                         263
Germany                           255
Russia                            251
Ukraine                           224
Poland                            202
Spain                             144
Netherlands (Holland, Europe)     137
France                            134
Romania                           131
Italy                             118
Mexico                            106
South Africa                      102
Philippines                       101
Nigeria                            98
Portugal                           85
Indonesia                          77
Greece                             72
Argentina                          72
Serbia                             71
Sweden                             71
Ireland                            67
Turkey                             63
China                              62
Korea South                        61
New Zealand                        60
                                 ...
Isle of Man                         2
Oman                                2
Zambia                              2
Swaziland                           2
New Caledonia                       2
Bolivia                             2
Liberia                             2
Barbados                            2
Guam                                2
Niger                               2
Belize                              2
Bahamas                             2
Fiji                                2
Honduras                            2
Reunion                             1
Bermuda                             1
Haiti                               1
Nambia                              1
Botswana                            1
Tokelau                             1
Seychelles                          1
Mozambique                          1
Virgin Islands (British)            1
Cyprus                              1
Monaco                              1
Andorra                             1
Korea North                         1
Palestine                           1
Martinique                          1
Benin                               1
Name: CountryLive, Length: 156, dtype: int64

In [1]:
df.CountryLive.isna();

NameError: name 'df' is not defined

In [12]:
len(df)

15620

In [14]:
df.CountryLive.notna()

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29       True
         ...
15590    True
15591    True
15592    True
15593    True
15594    True
15595    True
15596    True
15597    True
15598    True
15599    True
15600    True
15601    True
15602    True
15603    True
15604    True
15605    True
15606    True
15607    True
15608    True
15609    True
15610    True
15611    True
15612    True
15613    True
15614    True
15615    True
15616    True
15617    True
15618    True
15619    True
Name: CountryLive, Length: 15620, dtype: bool

In [15]:
df = df[df.CountryLive.notna()]

In [16]:
len(df)

13610

In [19]:
# you know there's a dodgy 39, replace with 40
def fix(value):
    return 40 if value == 39 else value

assert fix(39) == 40
assert fix(1) == 1

In [20]:
df2 = pd.DataFrame({'mycol': [1, 2, 39, 40]})
df2

   mycol
0      1
1      2
2     39
3     40

In [22]:
df2['mycol'] = df2['mycol'].apply(fix)

In [23]:
df2

   mycol
0      1
1      2
2     40
3     40

In [32]:
(df.CountryLive == 'United States of America').head()

0    True
1    True
2    True
3    True
4    True
Name: CountryLive, dtype: bool

In [30]:
[col for col in df.columns if 'dev' in col.lower()]

['CodeEventGirlDev', 'IsSoftwareDev', 'PodcastDeveloperTea', 'ResourceDevTips']

In [33]:
df.IsSoftwareDev.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: IsSoftwareDev, dtype: float64

In [43]:
len(df[(df.CountryLive == 'United States of America') & df.IsSoftwareDev])

1473

In [42]:
df[(df.CountryLive == 'United States of America') & df.IsSoftwareDev].count()

Age                      1459
AttendedBootcamp         1466
BootcampFinish            292
BootcampFullJobAfter      279
BootcampLoanYesNo         294
BootcampMonthsAgo         279
BootcampName              294
BootcampPostSalary        244
BootcampRecommend         295
ChildrenNumber            395
CityPopulation           1462
CodeEventBootcamp           8
CodeEventCoffee           235
CodeEventConferences      522
CodeEventDjangoGirls        1
CodeEventGameJam            2
CodeEventGirlDev          130
CodeEventHackathons       438
CodeEventMeetup            67
CodeEventNodeSchool        55
CodeEventNone             561
CodeEventOther            133
CodeEventRailsBridge       59
CodeEventRailsGirls         0
CodeEventStartUpWknd       95
CodeEventWomenCode        124
CodeEventWorkshop           2
CommuteTime              1349
CountryCitizen           1465
CountryLive              1473
                         ...
PodcastWebAhead             4
ResourceBlogs              10
ResourceBooks              21
ResourceCodecademy        814
ResourceCodeWars          196
ResourceCoursera          429
ResourceDevTips            65
ResourceEdX               264
ResourceEggHead            11
ResourceFCC               668
ResourceGoogle             12
ResourceHackerRank          8
ResourceKhanAcademy       352
ResourceLynda              29
ResourceMDN                 3
ResourceOdinProj          166
ResourceOther             309
ResourcePluralSight       545
ResourceReddit              1
ResourceSkillCrush          1
ResourceSoloLearn           1
ResourceStackOverflow      51
ResourceTreehouse          55
ResourceUdacity           318
ResourceUdemy             404
ResourceW3Schools           7
ResourceYouTube             9
SchoolDegree             1468
SchoolMajor              1142
StudentDebtOwe            578
Length: 113, dtype: int64